<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Student Developers Society</title>
<meta name="description" content="Student Developers Society is a community aiming to bridge the gap between students and professionals and make the students industry ready">
<meta name="author" content="Student Developers Society">
<meta name="keywords" content="SDS, StuDevSoc, Student Developers Society, SDS Cochin, StuDevSoc Kochi, Student Developers Society Kochi, SDS community, StuDevSoc Team, Student Developers" />
{% load static %}
<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="{% static 'events/img/favicon.png' %}" type="image/x-icon">
<link rel="apple-touch-icon" href="{% static 'events/img/favicon.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'events/img/favicon.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'events/img/favicon.png' %}">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="{% static 'events/fonts/font-awesome/css/font-awesome.css' %}">
<link rel="stylesheet" type="text/css"  href="{% static 'events/css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css"  href="{% static 'events/css/events.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!-- Slider
    ================================================== -->
<link href="{% static 'events/css/owl.carousel.css' %}" rel="stylesheet" media="screen">
<link href="{% static 'events/css/owl.theme.css' %}" rel="stylesheet" media="screen">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css"  href="{% static 'events/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'events/css/nivo-lightbox/nivo-lightbox.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'events/css/nivo-lightbox/default.css' %}">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300" rel="stylesheet" type="text/css">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand page-scroll" href="#page-top"><img src="{% static 'events/img/logo.png' %}" class="img-responsive" style= "height: 35px;" alt="Logo"></a> </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="../" class="page-scroll">Home</a></li>
        <li><a href="../events/" class="page-scroll">Events</a></li>
        <li><a href="https://studevsoc.com/gallery" class="page-scroll">Gallery</a></li>
        <li><a href="https://blog.studevsoc.com" class="page-scroll">Blog</a></li>
        <li><a href="#JoinUs" class="page-scroll">Join Us</a></li>
        <li><a href="https://www.studevsoc.com/#contact" class="page-scroll">Contact</a></li>
        <li><a href="../coc/" class="page-scroll">Code of Conduct</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<section class="sec-cards">
  <div id="team" class="text-center">
      <div class="section-title">
        <h2>Featured Events</h2>
        <hr>
      </div>
	<div class="cards">
    <div class="card">
      <div class="card__bg card__bg--debutsav"></div>

      <ul class="card__list">
        <li class=" card__listitem"><font style="font-weight : 800;">DebuUtsav</font></li>
        <li class=" card__listitem"><font style="font-weight : 400;">mini Debain Conference</font></li>

        <li class=" card__listitem"><font style="font-weight : 800;">Venue : CUSAT</font></li>
        <li class=" card__listitem"><font style="font-weight : 800;">Time : 10am-5pm</font></li>
        <li class=" card__listitem"><font style="font-weight : 800;">24-25 Nov 2018</font></li>
      </ul>
      <div class="card__btn">
        <a class="card__button card__button--orange" href="https://blog.studevsoc.com/"><font style="font-weight : 800;">Read the Blog</font></a>
      </div>


  </div>
</section>
<section class="sec-cards2">
  <div id="team" class="text-center">
      <div class="section-title">
        <h2>Chapter Events</h2>
        <hr>
      </div>
	<div class="cards">
    <div class="card">
      <div class="card__bg card__bg--openhack"></div>

      <ul class="card__list">
        <li class=" card__listitem"><font style="font-weight : 800;">OpenHackUtsav</font></li>
        <li class=" card__listitem"><font style="font-weight : 400;">SDS Thrissur</font></li>
        <li class=" card__listitem"><font style="font-weight : 400;">HacktoberFest</font></li>
        <li class=" card__listitem"><font style="font-weight : 800;">Venue : Vidya Academy of Science and Technology, Thrissur</font></li>
        <li class=" card__listitem"><font style="font-weight : 800;">Time : 09am-4.30pm</font></li>
        <li class=" card__listitem"><font style="font-weight : 800;">15th August 2018</font></li>
      </ul>
      <div class="card__btn">
        <a class="card__button card__button--orange" href="https://blog.studevsoc.com/"><font style="font-weight : 800;">Read the Blog</font></a>
      </div>
    </div>
  </div>
</section>
<section class="sec-cards">
  <div id="team" class="text-center">
      <div class="section-title">
        <h2>Past Events</h2>
        <hr>
      </div>
	<div class="cards">



    <div class="card">
      <div class="card__bg card__bg--augmtp"></div>

      <ul class="card__list">
        <li class=" card__listitem"><font style="font-weight : 800;">August Meetup</font></li>
        <li class=" card__listitem"><font style="font-weight : 400;">Curtain Raiser for DebUtsav</font></li>
        <li class=" card__listitem"><font style="font-weight : 400;">Meetup</font></li>
        <li class=" card__listitem"><font style="font-weight : 800;">Venue : NASSCOM</font></li>
        <li class=" card__listitem"><font style="font-weight : 800;">Time : 10am-1pm</font></li>
        <li class=" card__listitem"><font style="font-weight : 800;">15th August 2018</font></li>
      </ul>
      <div class="card__btn">
        <a class="card__button card__button--orange" href="https://blog.studevsoc.com/"><font style="font-weight : 800;">Read the Blog</font></a>
      </div>
    </div>
    <div class="card">
      <div class="card__bg card__bg--track6"></div>

      <ul class="card__list">
        <li class=" card__listitem"><font style="font-weight : 800;">Track 5</font></li>
        <li class=" card__listitem"><font style="font-weight : 400;">Annual Event</font></li>
        <li class=" card__listitem"><font style="font-weight : 400;">1st Anniversary Celebrations</font></li>
        <li class=" card__listitem"><font style="font-weight : 800;">Venue : INQ Innovation ,Palarivattom</font></li>
        <li class=" card__listitem"><font style="font-weight : 800;">Time : 10am-1pm</font></li>
        <li class=" card__listitem"><font style="font-weight : 800;">29th July 2018</font></li>
      </ul>
      <div class="card__btn">
        <a class="card__button card__button--blue" href="https://blog.studevsoc.com/"><font style="font-weight : 800;">Read the Blog</font></a>
      </div>
    </div>


    <div class="card">
			<div class="card__bg card__bg--track4"></div>

      <ul class="card__list">
				<li class=" card__listitem"><font style="font-weight : 800;">Track 4</font></li>
				<li class=" card__listitem"><font style="font-weight : 400;">Designing</font></li>

        <li class=" card__listitem"><font style="font-weight : 800;">Venue : INQ Innovation ,Palarivattom</font></li>
        <li class=" card__listitem"><font style="font-weight : 800;">Time : 10am-1pm</font></li>
				<li class=" card__listitem"><font style="font-weight : 800;">21st July 2018</font></li>
			</ul>

			<div class="card__btn">
				<a class="card__button card__button--green" href="https://blog.studevsoc.com/"><font style="font-weight : 800;">Read the Blog</font></a>
			</div>
		</div>
    <div class="card">
      <div class="card__bg card__bg--blue"></div>

      <ul class="card__list">
        <li class=" card__listitem"><font style="font-weight : 800;">Track 3</font></li>
        <li class=" card__listitem"><font style="font-weight : 400;">Python</font></li>

        <li class=" card__listitem"><font style="font-weight : 800;">Venue : INQ Innovation ,Palarivattom</font></li>
        <li class=" card__listitem"><font style="font-weight : 800;">Time : 3pm-5pm</font></li>
        <li class=" card__listitem"><font style="font-weight : 800;">07th July 2018</font></li>
      </ul>
      <div class="card__btn">
        <a class="card__button card__button--blue" href="https://blog.studevsoc.com/"><font style="font-weight : 800;">Read the Blog</font></a>
      </div>
    </div>
    <div class="card">
			<div class="card__bg card__bg--orange"></div>

      <ul class="card__list">
				<li class=" card__listitem"><font style="font-weight : 800;">Track 2</font></li>
				<li class=" card__listitem"><font style="font-weight : 400;">Javascript,Git</font></li>
				<li class=" card__listitem"><font style="font-weight : 400;">Communities, Volunteering, Leadership</font></li>
        <li class=" card__listitem"><font style="font-weight : 800;">Venue : NASSCOM</font></li>
        <li class=" card__listitem"><font style="font-weight : 800;">Time : 10am-4pm</font></li>
				<li class=" card__listitem"><font style="font-weight : 800;">1st July 2018</font></li>
			</ul>
			<div class="card__btn">
				<a class="card__button card__button--orange" href="https://blog.studevsoc.com/"><font style="font-weight : 800;">Read the Blog</font></a>
			</div>
		</div>

    <div class="card">
			<div class="card__bg"></div>

			<ul class="card__list">
				<li class=" card__listitem"><font style="font-weight : 800;">Track 1</font></li>
				<li class=" card__listitem"><font style="font-weight : 600;">Open Source,Git</font></li>
				<li class=" card__listitem"><font style="font-weight : 600;">Communities, Volunteering, Leadership</font></li>
        <li class=" card__listitem"><font style="font-weight : 800;">Venue : INQ Innovation ,Palarivattom</font></li>
        <li class=" card__listitem"><font style="font-weight : 800;">Time : 10am-4pm</font></li>
				<li class=" card__listitem"><font style="font-weight : 800;">30th June 2018</font></li>
			</ul>

			<div class="card__btn">
				<a class="card__button card__button--green" href="https://blog.studevsoc.com/"><font style="font-weight : 800;">Read the Blog</font></a>
			</div>
		</div>

<div id="contact" class="text-center">
  <div class="container">
    <div class="section-title center">

      <h2>Join Us</h2>
      <hr>
      <p></p>
    </div>
    <div class="social" id="JoinUs">
      <ul>
        <li><a href="https://www.meetup.com/StuDevSoc/"><i class="fa fa-meetup"></i></a></li>
        <li><a href="https://twitter.com/thisissds"><i class="fa fa-twitter"></i></a></li>
-
        <li><a href="https://www.facebook.com/StuDevSoc"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://www.linkedin.com/company/studevsoc/"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://gitlab.com/studevsoc"><i class="fa fa-gitlab"></i></a></li>
        <li><a href="https://t.me/studevsoc"><i class="fa fa-telegram"></i></a></li>
        <li><a href="https://www.instagram.com/studevsoc/"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>

    </div>
  </div>
</div>
<div id="footer">
  <div class="container text-center">
    <p>  FAQ | <a href="../coc/">Code of Conduct</a> |Report a harassment
    <p>Copyright &copy; 2019 Web Designed by <a href="https://gitlab.com/Ajuajmal/sds-dynamic/activity" rel="nofollow">StudDevSoc</a></p>
  </div>
</div>

<script type="text/javascript" src="{% static 'events/js/jquery.1.11.1.js' %}"></script>
<script type="text/javascript" src="{% static 'events/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'events/js/SmoothScroll.js' %}"></script>
<script type="text/javascript" src="{% static 'events/js/jquery.counterup.js' %}"></script>
<script type="text/javascript" src="{% static 'events/js/waypoints.js' %}"></script>
<script type="text/javascript" src="{% static 'events/js/nivo-lightbox.js' %}"></script>
<script type="text/javascript" src="{% static 'events/js/jquery.isotope.js' %}"></script>
<script type="text/javascript" src="{% static 'events/js/jqBootstrapValidation.js' %}"></script>
<script type="text/javascript" src="{% static 'events/js/contact_me.js' %}"></script>
<script type="text/javascript" src="{% static 'events/js/owl.carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'events/js/main.js' %}"></script>
</html>
